<h1>Posts</h1>

<% @posts.each do |post| %>
  <p><%= image_tag @post.image.url(:large)%></p><br>
  <p>About <%= @post.description %></p>
  <p> <%= @post.posted_at %></p>
<% end %>


<%= link_to 'Add Post', new_post_path %>
